@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 580px;
    width: 95%;
  }
}

.button {
  background-color: #ffd200;
  border-radius: 10px;
  padding: 18px 30px;
  border: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
}

.section {
  padding: 90px 0px;
}

.section-title {
  max-width: 500px;
  text-align: center;
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.section .input {
  border: 2px #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.section .arrows__left:hover, .section .arrows__right:hover {
  cursor: pointer;
}

.promise {
  margin-top: 100px;
}

.assurance {
  margin-top: 100px;
}

.brif {
  margin-top: 225px;
}

.navbar {
  padding: 8px 0px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__phone {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 12px 26px;
  }
}

.hero {
  padding: 50px 0px;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 40px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0px;
  padding: 0px;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0px;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero__text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text {
    padding-right: 0px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    max-width: 60%;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 13  px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  width: 240px;
  margin-bottom: 30px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.offer-contacts__first {
  line-height: 24px;
  width: 50%;
}

.offer-contacts__second {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 24px;
  width: 50%;
}

.offer-contacts__number {
  text-decoration: none;
  font-style: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer-contacts {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
    padding: 0px;
  }
  .offer-block {
    width: 100%;
    padding-right: 0px;
  }
  .offer-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
  }
  .offer-contacts__first {
    width: 100%;
  }
  .offer-contacts__second {
    margin-top: 10px;
    margin-left: 0px;
    display: inline;
    width: 100%;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
}

.portfolio__arrows {
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 68px;
}

.slider__image {
  margin: auto;
}

.price__title {
  margin: auto;
  margin-bottom: 58px;
  text-align: center;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0px;
}

.card__image {
  position: relative;
}

.card__image-photo {
  display: block;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  display: block;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .cards {
    margin: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.steps {
  padding: 0px;
}

.steps__title {
  margin: auto;
  max-width: 45%;
  text-align: center;
  margin-top: 70px;
  font-weight: 400;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.steps__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__subtitle {
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 59px;
}

.steps__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 58px;
}

.steps__image-text {
  margin-top: 30px;
  width: 100px;
  font-size: 12px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.steps__image-item:nth-child(odd) {
  border: 3px solid #ffd200;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 11px;
}

.promise {
  height: 280px;
  background-color: #ffd200;
  padding-top: 75px;
  max-width: 100%;
}

.promise__text {
  text-align: center;
  line-height: 40px;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .promise {
    padding-top: 0px;
  }
  .steps__title {
    max-width: 100%;
  }
  .steps__subtitle {
    margin-top: 28px;
  }
  .steps__image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .steps__image-item:nth-child(even) {
    display: none;
  }
  .steps__image-block {
    margin-top: 15px;
  }
  .promise__text {
    font-size: 20px;
    line-height: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 100px;
  }
}

.assurance {
  padding: 0px;
}

.assurance__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assurance__picture {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 15px;
  margin-right: 15px;
}

.assurance__picture-text {
  font-weight: 400;
  line-height: 23px;
  font-size: 15px;
  margin-left: 26px;
  margin-right: 68px;
  margin-top: 27px;
  text-align: left;
}

.assurance__picture-photo {
  margin-top: 35px;
}

.assurance__title {
  text-align: center;
  height: 74px;
  font-weight: 700;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin: auto;
  margin-top: 143px;
  width: 50%;
}

.assurance__documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 95px;
}

.assurance__documents-boards {
  width: 270px;
  height: 360px;
  border: 20px solid #f5f5f5;
  background-color: #f5f5f5;
}

.assurance__documents-explanation {
  width: 290px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-top: 41px;
}

.assurance__documents-image {
  margin-left: 7px;
}

@media (max-width: 1200px) {
  .assurance__documents-explanation {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .assurance__picture-text {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
  }
  .assurance__title {
    margin: auto;
    margin-top: 90px;
  }
}

@media (max-width: 768px) {
  .assurance__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 350px;
    margin: auto;
  }
  .assurance__picture {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .assurance__picture-text {
    font-size: 15px;
    line-height: 16.83px;
    margin-right: 58px;
    margin-left: 19px;
  }
  .assurance__title {
    margin: auto;
    width: 80%;
    margin-top: 77px;
    margin-bottom: 100px;
  }
  .assurance__documents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .assurance__documents-boards {
    margin: auto;
  }
  .assurance__documents-explanation {
    margin-top: 44px;
    margin-bottom: 31px;
    margin-left: auto;
    margin-right: auto;
  }
}

.brif {
  background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  margin-bottom: 94px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0px;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  max-width: 400px;
}

.form__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  margin-bottom: 94px;
  font-size: 16px;
}

.form__description {
  display: block;
}

@media (max-width: 1200px) {
  .brif {
    background-size: 50% 100%;
  }
  .brif__form {
    margin-left: 100px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
}

.form__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.form__subtitle {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 48%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .interview {
    padding-right: 0px;
  }
  .interview__title {
    max-width: 95%;
  }
  .interview__subtitle {
    width: 60%;
    font-size: 14px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
}

.brif {
  padding-top: 50px;
  margin-top: 90px;
  padding-bottom: 30px;
}

.brif__form {
  padding: 0px;
  margin-left: 0px;
}

.form__title {
  padding-top: 20px;
  margin-top: 90px;
}

.form__description {
  display: inline-block;
  width: 50%;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 100px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__text {
  font-size: 16px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: block;
}

.contacts-list__phone {
  text-decoration: none;
  color: black;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 23px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 39px;
}

@media (max-width: 1200px) {
  .contacts {
    padding-left: 90px;
  }
}

@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 25px;
    padding-top: 67px;
  }
  .contacts-list {
    max-width: 70%;
  }
  .contacts__title {
    width: 80%;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .map {
    width: 100%;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */